<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iBuddy</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.4.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.4.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
</head>
<body>

    <nav>
        <div class="nav-line"></div>
        <section class="navbar">
            <div class="logo">
                <div class="line1"></div>
                <div class="line2"></div>
                <img src="/uploads/ibuddysvg.svg" href="/" alt="iBuddy">
            </div>
            <button id="menu-btn" data-visible="false">
                <span class="menu-icon"></span>
            </button>
            <div class="nav-items-wrapper" data-visible="false">
                <div class="nav-line2" data-visible="false"></div>
                <ul>
                    <li><a class="txtH" href="#home">Home</a></li>
                    <li><a class="txtH" href="#servicos">Servicos</a></li>
                    <li><a class="txtH" href="#iBuddy">iBuddy</a></li>
                    <li><a class="txtH" href="#time">Quem somos</a></li>
                    <li><a class="txtH" href="/login">Login</a></li>
                </ul>
            </div>
        </section>
    </nav>
    <main class="container c" id="home">
        <div class="main-text">
            <h1>NÓS NOS PREOCUPAMOS COM SEU CACHORRO</h1>
            <p>Sempre tentamos fornecer os melhores serviços para o seu cão.</p>
        </div>
        <img class="dog-image" src="uploads/dogdog.webp" alt="">
    </main>

    <section class="services container" >
        <div class="services-text" id="servicos" >
            <h2 >iBuddy</h2>
            <p class="services-description">A nova tecnologia smart direto na coleira de seu Cão</p>
        </div>
        <div class="cards-wrapper">
            <div class="services-card">
                <i class="fi fi-br-dog-leashed card-icon"></i>
                <div class="card-text">
                    <h3>Uma coleira revolucionária</h3>
                    <p class="card-description">A coleira iBuddy está mudando o jogo! Com tecnologia de ponta, oferecemos conforto e segurança para seu melhor amigo.</p>
                </div>
            </div>
            <div class="services-card">
                <i class="fi fi-rr-map-marker card-icon"></i>
                <div class="card-text">
                    <h3>Saiba aonde seu cachorro está</h3>
                    <p class="card-description">Com o GPS integrado, você pode rastrear seu cão em tempo real e nunca mais se preocupar com seu paradeiro.</p>
                </div>
            </div>
            <div class="services-card">
                <i class="fi fi-rr-paw-heart card-icon"></i>
                <div class="card-text">
                    <h3>Examine a saúde dele constantemente</h3>
                    <p class="card-description">Monitore a saúde do seu cão com sensores que acompanham os batimentos cardíacos, atividades e muito mais.</p>
                </div>
            </div>
        </div>
    </section>

    <div class="setimaparte">
        <div class="services-text" id="iBuddy">
            <h2>Serviços da coleira</h2>
        </div>
        <div class="container containerfim">
          <section class="aprendendo">
            <div class="sobre-imagem">
              <img src="uploads/coleira.jpg">
            </div>
            <div class="conteudo-meio">
             <h2>A nova era das coleiras</h2>
             <p>A iBuddy traz a revolução que você e seu cão estavam esperando. Tecnologia de ponta, conforto e segurança se encontram em um único produto.</p> 
            </div>
          </section>
        </div>
        <div class="linha"> 
        </div>
        <div class="container containerfim">
          <section class="aprendendo">
            <div class="conteudo-meio">
             <h2>Bpm tracing</h2>
             <p>Com o monitoramento BPM, você pode verificar os batimentos cardíacos do seu cão em tempo real, garantindo que ele esteja sempre saudável.</p> 
            </div>
            <div class="sobre-imagem">
              <img src="uploads/pulse.png">
            </div>
          </section>
        </div>
        <div class="linha"> 
        </div>
        <div class="container containerfim">
          <section class="aprendendo">
            <div class="sobre-imagem">
              <img src="uploads/dogaxis.jpg">
            </div>
            <div class="conteudo-meio">
             <h2>Análise de Eixo</h2>
             <p>Com a análise de eixo, você pode acompanhar os movimentos do seu cão e detectar qualquer anomalia em sua caminhada ou corrida.</p> 
            </div>
          </section>
        </div>
        <div class="linha"> 
        </div>
        <div class="container containerfim">
          <section class="aprendendo">
            <div class="conteudo-meio">
             <h2>Geolocalização</h2>
             <p>Perdeu seu cão? Com a função de geolocalização, você pode rastrear e encontrar seu amigo rapidamente, não importa onde ele esteja.</p> 
            </div>
            <div class="sobre-imagem">
              <img src="uploads/geoloc.jpg">
            </div>
          </section>
        </div>
        <div class="linha"> 
        </div>
      </div>
      <div class="container-time">
        <div class="services-text" id="time">
            <h2>A Equipe por trás</h2>
        </div>
        <div class="row">
            <div class="meiom meio-l">
                <div class="nosso-time">
                    <div class="foto">
                        <img src="uploads/lucas.jpg">
                        <ul class="social">
                            <li><a href="https://github.com/LucasAlmeidaBernardi" class="fa-brands fa-github"></a></li>
                            <li><a href="https://www.linkedin.com/in/lucasalmeidabernardi/" class="fa-brands fa-linkedin"></a></li>
                            
                        </ul>
                    </div>
                    <div class="conteudo-time">
                        <div class="info-time">
                            <h3 class="titulo">Lucas Almeida</h3>
                            <span class="cargo">Desenvolvedor Back-end</span>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="meiom meio-l">
                <div class="nosso-time">
                    <div class="foto">
                        <img src="uploads/ana.jpg">
                        <ul class="social">
                            <li><a href="https://github.com/Anacristinadomingues" class="fa-brands fa-github"></a></li>
                            <li><a href="https://www.linkedin.com/in/ana-cristina-domingues-a08470217/" class="fa-brands fa-linkedin"></a></li>
                            
                        </ul>
                    </div>
                    <div class="conteudo-time">
                        <div class="info-time">
                            <h3 class="titulo">Ana Cristina</h3>
                            <span class="cargo">Designer Front-end</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="direitos">
        &#169
        2023 All Rights Reserved
     </div>
</body>
</html>
