img {
    max-width: 100%;
    display: block;
    max-height: 100%;
    object-fit: cover;
}

.chart-container:nth-child(4) {
    grid-column: 2 / span 1; /* Segunda coluna */
    grid-row: 2 / span 1; /* Primeira linha */

}

.chart-container:nth-child(2) {
    grid-column: 3 / span 1; /* Segunda coluna */
    grid-row: 2 / span 1; /* Segunda linha */

}

.chart-container:nth-child(3) {
    grid-column: 2 / span 1; /* Primeira coluna */
    grid-row: 3 / span 1; /* Segunda linha */

}

#map {
    grid-column: 3 / span 1; /* Segunda coluna */
    grid-row: 3 / span 1; /* Primeira linha */
}
#map {
    width: 100%; /* Largura fixa */
    height: 100%; /* Altura fixa */
    display: block;
    border: 10px;
    padding: 50px;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.041);
}
.chart-container {
    border: 10px;
    width: 100%; /* Largura fixa */
    height: 100%; /* Altura fixa */
    display: block;
    padding: 50px;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.041);
}
.imagemp {
    width: 250px;

}
.centro{
    height: 100%;
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
}
.containerm{
    padding-right: 20px;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Duas colunas iguais */
    grid-template-rows: 0.3fr 1fr 1fr 0.3fr; /* Duas linhas automáticas */
    gap: 20px;
}
.p-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    grid-column: 1 / span 1; /* Perfil ocupa toda a primeira coluna */
    grid-row: 1 / span 4; 

}

.perfil {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    border-radius: 16px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.041);
}

.ima {
    overflow: hidden;
    align-self: center;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100vh;
}

.img {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    width: 100%;
}



.botoes {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;

}

.botao-p {
    flex: 1;


}

.img button {
    margin-block: 20px;
}

.botao-p button,
.img button {
    padding: 10px;
    width: 100%;
    height: 100%;
    border: 0;
    background-color: #7878ff;
    padding-block: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 8px;

    transition: background-color 150ms ease-in-out;
}

.botoes button:hover {
    cursor: pointer;
    background-color: #4b4ba5;
}
.img .botao-r{
    height: auto;
}